<app-menu></app-menu>
<div class="pagina">
    <header>
        <h1>Administração | Cadasto de Materiais</h1>
    </header>
    <form [formGroup]="formulario">
        <div>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>
       
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Tipo</mat-label>
                <input matInput formControlName="tipo">
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Valor</mat-label>
                <input matInput formControlName="valor">
            </mat-form-field>
            
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Fornecedor</mat-label>
                <input matInput formControlName="fornecedor">
            </mat-form-field>
        </div>

        <div class="controles">
            <button mat-raised-button [disabled]="formulario.enabled" (click)="onIncluir()">Incluir</button>
            <button mat-raised-button [disabled]="formulario.invalid" (click)="onSalvar()">Salvar</button>
            <button mat-raised-button [disabled]="formulario.disabled" (click)="onCancelar()">Cancelar</button>
        </div> 
    </form>
 <div class="relatorio">
    <h2>Cadasto de Materiais</h2>
    <table>
        <tr>
            <th>Ação</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Valor</th> 
            <th>Fornecedor</th>  
        </tr>
        <!--<tr *ngFor=" let usuario of material">
            <td><button>Excluir</button></td>
            <td>{{usuario.nome}} {{usuario.sobrenome}}</td>
            <td>{{usuario.telefone}}</td>
            <td>{{usuario.login}}</td>
            <td>{{usuario.email}}</td>
        </tr>-->
    </table>


    </div>
</div>