<app-menu></app-menu>
<div class="pag">
    <header>
        <h1>Administração | Cadastro </h1>
    </header>
    <form [formGroup]="PomarCad">
        <div>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Nome</mat-label>
                <input matInput>
            </mat-form-field>
       
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Coluna</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Linha</mat-label>
                <input matInput>
            </mat-form-field>
            
        </div>

        <div class="controles">
            <button mat-stroked-button [disabled]="PomarCad.enabled" (click)="onIncluir()" color="primary">Incluir</button>
            <button mat-stroked-button [disabled]="PomarCad.invalid" (click)="onSalvar()">Salvar</button>
            <button mat-stroked-button [disabled]="PomarCad.disabled" (click)="onCancelar()">Cancelar</button>
        </div>
    </form>
 <div class="relatorio">
    <h2>Cadasto</h2>
    <table>
        <tr>
            <th>Nome</th>
            <th>Coluna</th>
            <th>Linha</th>
             
        </tr>
        <!--<tr *ngFor=" let usuario of material">
            <td><button>Excluir</button></td>
            <td>{{cadastro.nome}} {{cadastro.coluna}}</td>
            <td>{{cadastro.linha}}</td>
        </tr>-->
    </table>


    </div>
</div>
