header{
    height: 15vh;
    h1{
        font-size: 1.5em;
    }
}
  mat-form-field{
    margin-right: 15px;
    width: 300px;
  }

button{
    margin-top: 5px;
    margin-right: 15px;
}
.grande{
    width: 615px;
}
