header{
    height: 15vh;
    h1{
        font-size: 1.5em;
    }
}
  mat-form-field{
    margin-right: 15px;
    width: 300px;
  }

button{
    margin-top: 5px;
    margin-right: 15px;
}
.grande{
    width: 615px;
}

//Estilo da tabela de relatório

.relatorio{
  width: 80% ;
  height: 30% ;
  padding: 10px;
  h2{
      font-family: arial;

  }
  table{
      width: 100%;
      font-family:Arial ;
      th{
          border-bottom: 1px #DDD solid ;
          padding: 3px;
          text-align: left;
      }
      td{
        border-bottom: #CCC solid;
        padding: 3px;
      }

  }
}
