<div class="sidebar">
    <img src="/assets/img/logo ricardo.png" class="logo"/>
    <nav class="aa">
        <a routerLink="/home">Home</a>
        <details>
            <summary>Administração</summary>
            <a routerLink="/cadUsuario">Usuário</a>

            <a routerLink="/cadMaterial">Material</a>

            <a routerLink="/cadProduto">Produto</a>

        
        </details>
        <details>
            <summary>Pomar</summary>
          
            <a routerLink="/cadPomarcad">Cadastro</a>

            <a routerLink="/cadMovimento">Movimento</a>

            <a routerLink="/cadColheita">Colheita</a>
            
           
        </details>
    </nav>
    <ul>
        <li class="aaa"><a href="Sair">____ Sair____</a></li>
    </ul>
</div>

   
